:root {
  --primary1: rgb(3, 0, 86);
  --grey: #aaa;
}

body {
	background-color: #FAFAFA;
}

.ppslide {
	background-color: #FAFAFA;
	min-height: 600px;
	padding-top: 60px;
	align-items: center;
	padding-right: 60px;
	padding-left: 60px;
}

.carousel-indicators > li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--primary1);
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23030066' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23030066' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  top: 10px;
  height: 30px;
}


h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 140.62%;
	text-align: center;
	text-transform: capitalize;
	color: #000055;
}

.titlecontainer {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.contentcontainer {
	max-width: 1000px;
	margin:  0 auto;
}

.highlight {

	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
}

.standard {

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	min-height: 50px;
}

.explainer {

	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
}

.tabletext {
	text-align: left;
}

.spacer {
	margin-top: 60px;
}

.btn {
	/* Button Secondary */

	background: #000055;
	padding: 15px 30px 15px 30px;

	/* Background */

	box-sizing: border-box;


	border: 1px solid #000000;
	border-radius: 5px;
	/* Text */


	font-size: 18px;
	line-height: 24px;

	color: #FFFFFF;

}

.btn:hover {
	color: #FFF;
}

.nextbutton_ {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	padding: 15px;
}

.question {

	font-weight: 400;
	font-size: 26px;
	line-height: 140.62%;
	/* or 37px */
	text-transform: capitalize;
	color: #000055;


}

.ppinput {
	width: 200px;
	background: #F3EFBC;
	font-size: 24px;
}

td {
	padding: 15px;
}

#results {
	padding-top: 30px;
	display:none;
}

.headline_num {
	font-size: 48px;
	text-align: center;
}

.resultbox {
	margin-bottom: 60px;
}

